
h4 + h4{
    margin-top: 4vh;
   }
.para-img {
    display:flex;
}  
.paragrafos{
    margin-left:3vw;
    color:white;
    align-items: center;
    text-align: center;
}

.table-text img{
 
 justify-content: flex-start;
 height:27vh;
 margin-bottom:1vh;
 margin-left:4vh;
 margin-right:4vh;
 margin-top:1vh;
 border: 2px solid rgb(156, 41, 41);

 background-color: white;


}

.bottom-table-text{
    color:white;
    text-align: center;
    width: 35vw;
    margin-left:7.5vw;
}

@media screen and (max-width: 1050px) {
    .gpt3__navbar-links_container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .para-img {
        display:block;

    }
    .table-text h3{
        margin-top: 3vw;
        margin-left: 15vw;
        width:70vw;}
    .table-text h4{
        margin-top: 3vw;
        margin-left: 15vw;
        width:70vw;        
    }
    .table-text img{
        margin-top: 3vw;
        margin-left: 15vw;
        width:70vw;
    }
 }