.csamambaia-body{
    display:inline-block;
    width:99vw;
  }
  .csamambaia-content{
    gap:2vw;
    display:flex;
    flex-direction: row;
  }
  .cargasamambaiatexto{
    color:white;
    width: 40vw;
    margin-left: 3vw;
    background-color: none;
    padding:2%;
    border-radius: 20px;
    margin-bottom: 10vh;
  }
  .csamambaia-body img{
    margin-top:2vh;
    width:40vw;
    height:40vh;
    border-radius: 2rem;
    background-color: none;
    margin-right:2vw;
    margin-top: 10vh;
  }

  
  @media screen and (max-width: 650px) {
    .csamambaia-content{
      display:block;
      
    }
    .cssamambaia-body{
      width:100vw;
    }
    .cargasamambaiatexto{
      width:90vw;
    }
    .csamambaia-body img{
      height: 30vh;
      width:50vw;
      padding-right:0vw;
    }
    .imgwrapper-cargasamambaia{
      margin-left:20vw;
    }
  }