
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

.cargaleve-body{
  background:rgba(87, 87, 87, 0.37);
  width:99vw;
  display:inline-block;
}
.cargaleve-content{
  gap:5vw;
  display:flex;
}
.cargalevetexto{
  color:white;
  width: 40vw;
  margin-left: 3vw;
  background-color: rgba(245, 88, 88, 0.459);
  padding:2%;
  border-radius: 20px;
  margin-bottom: 10vh;
  text-align: justify;
}
.cargaleve-body img{
  width:40vw;
  height:60vh;
  margin-left:5vw;
  margin-top:3vh;
  margin-bottom:5vh;
  border-radius: 2rem;
  border: 4px solid rgb(156, 41, 41);
  background-color: white;

}
@media screen and (max-width: 650px) {
  .cargaleve-content{
    display:inline-block;
  }
  .cargalevetexto{
    width:90vw;
  }
  .cargaleve-body img{
    width:80vw;
    margin-left:0;
  }
  .cargaleve-body{
    width: 100vw;
  }
  .imgwrapper-cargaleve{
    margin-left:10vw;
  }
}