* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--color-bg);
  }

  a {
    color: unset;
    text-decoration: none;
  }  
  .gradient__bg {
    background: rgb(21,21,23);
    background: -moz-radial-gradient(circle, rgba(21,21,23,1) 0%, rgba(0,0,0,1) 82%);
    background: -webkit-radial-gradient(circle, rgba(21,21,23,1) 0%, rgba(0,0,0,1) 82%);
    background: radial-gradient(circle, rgba(21,21,23,1) 0%, rgba(0,0,0,1) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#151517",endColorstr="#000000",GradientType=1);}
    
.texto_gradiente {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width:95vw;
    margin-left:0.11vw;
    margin-top:10vh;
}
.titulo-tabela{
    color:white;
    text-align: center;
    width: 35vw;
    margin-left:7.5vw;
    
    border-radius:7px;
}
.section__padding {
  padding: 4rem 6rem;
}
.section__margin{
  margin: 4rem 6rem;
}
.titulo{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-left: 7.5vw;
  margin-bottom:5vh;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width:700px){
  .section__padding{
    padding:22rem;
  }
  .section__margin{
    padding:4rem;
  }
  }