* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

.isee_header_padding{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top:20vh;
    padding-bottom:2vh;
    background-color:rgba(87, 87, 87, 0.37);
    display: flex;
    flex-direction: column;
    width:99vw;
}
.isee_header-conteudo{
    margin-top: 10vh;
    gap:5vh;
    display: flex;
    flex-direction: row;
}

.pointer{
    width:2vw;
    height:2vh;
    margin-left:1vw;
    margin-top:24vh;
    color:red;
}
.isee_header-image img{
    
    width:50vw;
    height:60vh;
    margin-left:5vh;
    border-radius: 2rem;
    border: 4px solid rgb(156, 41, 41);
    background-color: white;
}
.texto-img{
    background-color:white ;
    border-radius: 2rem;
    width:30%;
    text-align:center;
    justify-items:baseline;
    margin-left:22vw;
    padding:20px;
    margin-top: 1vh;
    margin-bottom: -3vh;
}

.paragrafos1 {
    padding: 2%;
    width: 93vw;
    margin-left: 1vw;
    color: white;
    text-align: justify;
    background-color: rgba(245, 88, 88, 0.459);
    border-radius: 20px;
    margin-bottom:15vh;
}
@media screen and (max-width: 550px) {
    .isee_header-conteudo{
        display: block;
    }
    .isee_header-padding{
        padding:2vw;
    }
    .pointer{
        display:none;
    }
    .isee_header-image img{
        height:30vh;
    }
    .texto-img{
       margin-left: 25vw;
    }
}